* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
}


.navbar {
  background-color: #111;
  color: white;
  padding: 14px 20px;
  font-size: 18px;
}


.container {
  max-width: 500px;
  margin: 40px auto;
  text-align: center;
}

h1 {
  font-weight: normal;
  margin-bottom: 20px;
}


form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 14px;
}


button {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0b5ed7;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 8px;
}


.done span {
  text-decoration: line-through;
  color: gray;
}


.delete-btn {
  background: none;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
}
